.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 44px;
  background-color: transparent;
  border: 1px solid $gray;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  &--orange {
    background-color: $orange;
    border: 1px solid $orange;
    color: $white;
  }
}
.btn--user {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 18px;
    height: 21px;
    background: url("../img/user.png") no-repeat;
  }
}
.btn--white {
  border: 1px solid $white;
  color: $white;
}
