@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/GolosText/GolosText-Bold.eot'),
  url('/fonts/GolosText/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/GolosText/GolosText-Bold.woff2') format('woff2'),
  url('/fonts/GolosText/GolosText-Bold.woff') format('woff'),
  url('/fonts/GolosText/GolosText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/GolosText/GolosText-Regular.eot'),
  url('/fonts/GolosText/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/GolosText/GolosText-Regular.woff2') format('woff2'),
  url('/fonts/GolosText/GolosText-Regular.woff') format('woff'),
  url('/fonts/GolosText/GolosText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/GolosText/GolosText-Medium.eot'),
  url('/fonts/GolosText/GolosText-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/GolosText/GolosText-Medium.woff2') format('woff2'),
  url('/fonts/GolosText/GolosText-Medium.woff') format('woff'),
  url('/fonts/GolosText/GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/GolosText/GolosText-Black.eot'),
  url('/fonts/GolosText/GolosText-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/GolosText/GolosText-Black.woff2') format('woff2'),
  url('/fonts/GolosText/GolosText-Black.woff') format('woff'),
  url('/fonts/GolosText/GolosText-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('/fonts/GolosText/GolosText-DemiBold.eot'),
  url('/fonts/GolosText/GolosText-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/GolosText/GolosText-DemiBold.woff2') format('woff2'),
  url('/fonts/GolosText/GolosText-DemiBold.woff') format('woff'),
  url('/fonts/GolosText/GolosText-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}







