$base_font: 'GolosText';
$base_font_color: #626262;
$white: #FFFFFF;
$dark: #000000;
$orange: #ff9033;
$gray: #626262;
$container-lg: 1440px;
$container: 1140px;
$container-md: 1024px;
$container-sm: 768px;
$container-small: 767px;

