.banner
    .container
        .banner-content
            h1.banner-content__title Платежный сервис
            p.banner-content__desc Надежный поставщик платежных решений для различных компаний по всему Миру
            p.banner-content__text Переводите деньги онлайн, самым современным и безопасным способом.
            a(href="").banner-content__btn.btn.btn--orange Подробнее
