.banner
    .container
        .banner-content
            h1.banner-content__title PAYMENT SERVICE
            p.banner-content__desc Reliable supplier of payment solutions for various companies WORLDWIDE
            p.banner-content__text Transfer money online in the most modern and secure way.
            a(href="").banner-content__btn.btn.btn--orange More
