footer.footer
    .container
        .row
            .col-md-6
                a.logo.logo--footer(href="")
                    img(src="/img/dark-logo.png" alt="")
                p.description.description--footer Надежный поставщик платежных решений для различных компаний по всему Миру.
                .user.user--footer
                    a(href="").footer__btn.btn.btn--user.btn--white
                        span Вход
                    a(href="").footer__btn.btn.btn--orange
                        span Регистрация
                p.description © Все права защищены.
            .col-md-6
                .footer__item
                    h4.subtitle.subtitle--white Продукты
                    ul.footer-list
                        li.footer-list__item
                            a(href="/plug.html").footer-list__link Банковские переводы
                        li.footer-list__item
                            a(href="/plug.html").footer-list__link Интернет эквайринг



script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="libs/maskedinput/jquery.maskedinput.min.js")
script(src="js/common.js")
