.header-wrapp
    header.header
        .container
            .header__lang
                .burger
                    span
                    span
                    span
                .header__links
                    a.header__link.header__link--active(href="/") Ru
                    a.header__link(href="index-en.html") En
        .container
            .header__box
                a.logo(href="")
                    img(src="img/logo.png" alt="")
                .header__menu
                    nav.nav
                        ul.nav-list
                            li.nav-list__item
                                a(href="").nav-list__link Продукты
                            li.nav-list__item
                                a(href="").nav-list__link Тарифы
                            li.nav-list__item
                                a(href="").nav-list__link О компании
                        .user
                            a(href="").header__btn.btn.btn--user
                                span Вход
                            a(href="").header__btn.btn.btn--orange
                                span Регистрация

