section.section.section--gray
    .container
        .row
            .col-12
                h2.section__title Products Paysunion
        .row.products
            .col-md-6
                .products__item.products__item--bg
                    span.products__count 01
                    h3.products__title INTERNATIONAL TRANSFERS
                    p.products__subtitle Instant transfers without opening an account
                    p.products__desc Make international transfers in a convenient way for you: by bank details, by card number, instant transfers within the system.
                    a(href="").btn.btn--orange Start
            .col-md-6
                .products__item
                    span.products__count 02
                    h3.products__title MULTI-CURRENCY IBAN
                    p.products__subtitle Opening a European bank account for individuals and legal entities
                    p.products__desc Exchange currencies at a favorable rate, make payments and accept payments to an individual European account using SWIFT, SEPA and internal transfers
                    a(href="").btn.btn--orange Start
            .col-md-6
                .products__item
                    span.products__count 03
                    h3.products__title DEBIT VISA CARD
                    p.products__subtitle Get a European VISA for yourself or your business
                    p.products__desc Expand your payment options with our multi-currency debit card. Travel, pay for purchases, settle accounts with foreign partners
                    a(href="").btn.btn--orange Start
            .col-md-6
                .products__item.products__item--bg
                    span.products__count 04
                    h3.products__title ACCEPTING ONLINE PAYMENTS
                    p.products__subtitle Accept payments via QR code or link
                    p.products__desc A modern solution for instant replenishment of your account. Accept donations, rewards, payments for goods or services from 170 countries.
                    a(href="").btn.btn--orange Start


