section.section.section--gray
    .container
        .row
            .col-12
                h2.section__title Продукты Paysunion
        .row.products
            .col-md-6
                .products__item.products__item--bg
                    span.products__count 01
                    h3.products__title Международные переводы
                    p.products__subtitle Моментальные переводы без открытия счета
                    p.products__desc Совершайте международные перводы удобным для Вас способом: по реквизитам, по номеру карты, мгновенные переводы внутри системы.
                    a(href="").btn.btn--orange Начать
            .col-md-6
                .products__item
                    span.products__count 02
                    h3.products__title мультивалютный IBAN
                    p.products__subtitle Открытие европейского банковского счета для физических и юридических лиц
                    p.products__desc Обменивайте валюты по выгодному курсу, совершайте оплаты и принимайте платежи на индивидуальный европейский счет с помощью  SWIFT, SEPA  и внутренних переводов
                    a(href="").btn.btn--orange Начать
            .col-md-6
                .products__item
                    span.products__count 03
                    h3.products__title дебетовая карта Visa
                    p.products__subtitle Получи европейскую VISA для себя или своего бизнеса
                    p.products__desc Расширь свои платежные возможности с нашей мультивалютной дебетовой картой. Путешествуй, оплачивай покупки, рассчитывайся с иностранными партнерами
                    a(href="").btn.btn--orange Начать
            .col-md-6
                .products__item.products__item--bg
                    span.products__count 04
                    h3.products__title Прием он-лайн платежей
                    p.products__subtitle Прием платежей с помощью QR-кода или ссылки
                    p.products__desc Современное решение для моментального пополнения вашего счета. Принимай донаты, вознаграждения, оплату за товар или услуги из 170 стран мира.
                    a(href="").btn.btn--orange Начать


