section.section
    .container
        .row
            .col-12
                h2.section__title Твои возможности
        .row.promo
            .col-md-6.promo__pic
                img(src="img/john.jpg" alt="")
            .col-md-6.promo__content
                .promo__box
                    h3.promo__title Международные переводы
                    p.promo__desc Совершайте международные перводы удобным для Вас способом: по реквизитам, по номеру карты, мгновенные переводы внутри системы.
                    a(href="").btn.btn--orange Начать
