section.section.section--bg-pic
    .container
        .row.promo.promo--app
            .col-md-6.promo__pic
                img(src="img/promo-app.png" alt="")
            .col-md-6.promo__content
                h3.promo__title.promo__title--app PAYSUNION в твоем телефоне
                p.promo__desc.promo__desc--app Скачайте официальное приложение
                a(href="").btn.btn--orange Начать
