extends ../layout/layout.pug
block vars
    - var title = '404';

block header
    include ../includes/header-en.pug
block content
    include ../includes/404-en.pug
block footer
    include ../includes/footer-en.pug

