extends ../layout/layout.pug
block vars
    - var title = '404';

block header
    include ../includes/header.pug
block content
    include ../includes/404.pug
block footer
    include ../includes/footer.pug

