extends ../layout/layout.pug
block vars
	- var title = 'Page';
block header
	include ../includes/header-en.pug
block content
	include ../includes/main-en.pug
block footer
	include ../includes/footer-en.pug
